.linkbar {
	position: relative;
	background-color: #3c4543;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
#l {
	font-size: 100px;
}
#log {
	position: absolute;
	right: 0%;
}
#sub {
	position :absolute;
	right : 0%;
}
#logText {
	
}
#linkSub {
	width : 60%;
}
#txtarea {
	    width: 100%;
		height: 15em;
}
#titleInput {
	width : 100%;
	height : 3em;
}
.spacerP {
	padding : .1em;
}

.links {
	text-decoration : none;
	font-size : 4em;
}
#tit {
	text-align: center;
}
#one {
	
	
}
.actualLink {
	font-size: 20px;
	text-decoration: none;
}

